<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <!-- <h1>{{this.profileForm.value.name}}</h1>
            <h1>{{this.profileForm.value.email}}</h1> -->
             <h2>{{this.profileForm.value.name}}</h2>
            <h4>{{this.profileForm.value.email}}</h4> 
        </div>
        <img src="{{this.profileForm.value.pic}}"   alt="image">
    </div>

    <mat-divider></mat-divider>
    
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" (click)="redirect()" [routerLink]="['/chat']">Live Chat</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
   
    <a mat-list-item routerLinkActive="list-item-active" href="mailto:?Subject=hey buddy, I found an amazing news Site!&body=Hi,I found this website and thought you might like it http://www.TrendingNews.com" target="_blank">Invite your Friends</a>
    
    

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
